/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  .gallery-swiper {
    height: 400px;
  }
}

@media (max-width: 768px) {

  /* Navbar */
  .navbar {
    padding: 15px 5%;
  }

  .nav-list {
    gap: 15px;
  }

  .nav-list a {
    font-size: 0.7rem;
  }

  .logo-img {
    height: 40px;
  }

  /* Hero */
  .hero {
    height: 90vh;
    padding: 0 15px;
  }

  h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .event-badge {
    margin-bottom: 25px;
    font-size: 0.8rem;
  }

  /* Botones */
  .botones-masterplan {
    flex-direction: column;
    align-items: center;
  }

  .btn-primary,
  .btn-outline {
    width: 100%;
    max-width: 280px;
    text-align: center;
  }

  /* Secciones */
  .intro-section {
    padding: 60px 20px;
  }

  .features-section {
    padding: 60px 5%;
  }

  .masterplan-section {
    padding: 60px 5%;
  }

  .content-split {
    flex-direction: column;
    gap: 30px;
  }

  .text-block,
  .image-block {
    min-width: 100%;
  }

  .location-section {
    padding: 60px 5%;
  }

  .gallery-section {
    padding: 60px 5%;
  }

  .gallery-swiper {
    height: 300px;
  }

  .footer-section {
    padding: 60px 20px;
  }
}

@media (max-width: 480px) {

  h1 {
    font-size: 1.8rem;
  }

  .gallery-swiper {
    height: 250px;
  }

  .contact-form input {
    padding: 12px;
  }

  .btn-submit {
    padding: 12px;
  }
}
